.inline-history-moves {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  word-break: keep-all;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  background-color: darkolivegreen;
  width: 100%;
  height: 60px;
  font-size: 30px;
}

.inline-history-moves button {
  border: none;
  width: fit-content;
  height: fit-content;
  margin: 0 5px;
  padding: 0;
  background-color: transparent;
  font-family: "Free Serif", serif;
  font-size: x-large;
  white-space: nowrap;
}

.inline-history-moves button.move.selected {
  background-color: aquamarine;
}
