.history {
  box-sizing: border-box;
  display: flex;
  width: calc(90vw - 75vmin - 2px);
  height: 75vmin;
  border: 1px solid black;
  border-radius: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: scroll;
  row-gap: 1px;
}
