@font-face {
  font-family: "Free Serif";
  src: url("../../assets/fonts/FreeSerif.ttf");
}

.history button.move {
  border: none;
  width: fit-content;
  height: fit-content;
  margin: 0 5px;
  padding: 0;
  background-color: transparent;
  font-family: "Free Serif", serif;
  font-size: x-large;
}

.history button.move.selected {
  background-color: aquamarine;
}
