.history {
  width: calc(90vw - 75vmin - 2px);
  height: 75vmin;
  display: flex;
  box-sizing: border-box;
  border: 1px solid black;
  flex-direction: column;
  justify-content: flex-start;
}

.history-buttons {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: salmon;
  width: 100%;
  height: 8%;
  border: 1px solid transparent;
}

.history-moves {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  row-gap: 1px;
  justify-content: flex-start;
  align-items: flex-start;
}
