.posEditor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.posEditor .board {
  display: block;
  width: 60vmin;
  aspect-ratio: 1/1;
}

.posEditor .options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

@media (orientation: portrait) {
  .posEditor {
    flex-direction: row;
  }
}
