.computerOptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
}

.computerSideSelector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.computerOptions label {
  font-size: smaller;
}

.computerSkillLevel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: fit-content;
}

.computerSkillLevel .skillLabel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

@media (orientation: portrait) {
  .computerSideSelector {
    flex-direction: column;
  }
}
