.generalOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin-left: 10px;
  height: 70vh;
  max-height: 490px;
}

.generalOptions .field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.generalOptions .field label {
  font-size: x-small;
}
