.chessboard-coords-outergrid {
  display: grid;
  grid-template-columns: 1fr repeat(8, 2fr) 1fr;
  grid-template-rows: 1fr repeat(8, 2fr) 1fr;
  width: 100%;
  aspect-ratio: 1 / 1;
  height: auto;
  max-width: 90vmin;
  max-height: 90vmin;
  position: relative;
  margin: auto;
  background-color: blue;
  line-height: initial;
}

.chessboard-coords-outergrid .turn {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.chessboard-coords-outergrid .turn.white {
  background-color: white;
}

.chessboard-coords-outergrid .turn.black {
  background-color: black;
}

.file-label,
.rank-label {
  text-align: center;
  font-size: clamp(0.6em, 2vmin, 1.2em);
  color: goldenrod;
  user-select: none;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.file-label.top {
  grid-row: 1;
}
.file-label.bottom {
  grid-row: 10;
}

.rank-label.left {
  grid-column: 1;
}
.rank-label.right {
  grid-column: 10;
}
