.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15vh;
  background-color: bisque;
}

.toolbar button {
  width: 10vmin;
  height: 10vmin;
  border: 1px solid black;
  padding: 2px;
  border-radius: 2px;
}

.toolbar button img {
  width: 100%;
  height: 100%;
}
