.game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: calc(100% - 10vh);
}

.board {
  display: flex;
  width: 75vmin;
  height: 75vmin;
}

.board-wrapper {
  position: relative;
  display: inline-block;
}

.board-wrapper.locked {
  pointer-events: none;
}
