.game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: calc(100% - 10vh);
}

.game .board {
  width: 75vmin;
  height: 75vmin;
}

.game.portrait .board {
  width: 95vmin;
  height: 95vmin;
}

/* On android in landscape, we must leave space for buttons bar on the left */
.game.android:not(.portrait) .board {
  margin-left: 40px;
}

@media (orientation: portrait) {
  .game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
