.game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: calc(100% - 10vh);
}

.board {
  display: flex;
  width: 75vmin;
  height: 75vmin;
}

.game.portrait .board {
  width: 95vmin;
  height: 95vmin;
}

@media (orientation: portrait) {
  .game {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
