@import "./Dialog.css";

@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

/* reset */
button[type="button"],
fieldset {
  all: unset;
}

.tabsRoot {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

div[role="tablist"] {
  flex-shrink: 0;
  display: flex;
  border-bottom: 1px solid var(--mauve-6);
  margin: 0 0 5px 0;
}

button[type="button"] {
  font-family: inherit;
  background-color: white;
  padding: 0 20px;
  height: 30px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1;
  color: var(--mauve-11);
  user-select: none;
}
button[type="button"]:first-child {
  border-top-left-radius: 6px;
}
button[type="button"]:last-child {
  border-top-right-radius: 6px;
}
button[type="button"]:hover {
  color: var(--violet-11);
}
button[type="button"][data-state="active"] {
  color: var(--violet-11);
  box-shadow: inset 0 -1px 0 0 currentColor, 0 1px 0 0 currentColor;
}
button[type="button"]:focus {
  position: relative;
  box-shadow: 0 0 0 2px black;
}

button.action {
  all: unset;
  background-color: blanchedalmond;
  margin: 0 10px;
  padding: 5px;
  border-radius: 5px;
  width: 60px;
  text-align: center;
}
